<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ПРОБОЈ СОЛУНСКОГ ФРОНТА</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="./img/serbia-icon.png" type="image/x-icon">
</head>

<body>
<header>
    <h1>ПРОБОЈ СОЛУНСКОГ ФРОНТА</h1>
    <nav>
        <a href="./index.html"><p>Увод</p></a>
        <a href="./str2.html"><p>Почетак ратних операција</p></a>
        <a href="./str3.html"><p>Пробој</p></a>
        <a href="./str4.html"><p>Закључак</p></a>
    </nav>
</header>
<main>
    <article id="Uvod" class="obavijac">
     <h2>Почетак ратних операција</h2>
     <p>План напада је био такав да артиљеријска припрема крене 14. септембра, а пешадијски напад 15. септембра. Тако је тачно у 8 часова 14. септембра 1918. код обе српске армије отпочела артиљеријска припрема по предвиђеном плану. 
        То је, уједно, био знак за почетак артиљеријске припреме на целом Солунском фронту. Близу 2000 атриљеријских цеви огласило је почетак великог, дуго очекиваног напада савезничких армија на Солунском фронту. Артиљерија је отпочела дејства по главном положају, рушећи препреке, осматрачнице а нарочито прве линије фронта. Затим је ватра пренесена на митраљеска гнезда и склоништа на простору између прве и друге линије ровова, а касније на другу линију ровова и објекте у његовој близини.
        </p>
         <div><img src="./img/sl2.jpg" class="float_left" width="400px" alt="Grb kluba"></div>
        <p>Велику улогу у нападима имала је и савезничка ескадрила која је доста допринела у подношењу извештаја о местима батерија и дејствима као и стању људи на фронту. Имали су чак и пар ваздушних дејстава са непријатељском авијацијом која је на крају добро прошла. Али у наредном периоду и није имала велике помоћи због временских неприлика. 
            Због несигурности напада бугарске војске нису знали на који ће део фронта напасти због распоређености артиљерије дуж целе линије фронта. Сумњало се на рејон Црне реке и долине Вардара али се ипак кренуло концентрисање у Добром пољу.
            </p>
    </article>
    <article class="obavijac">
        <h2>Освајање Ветерника, почетак напада на Кравицу и Добро поље</h2>
        <p>У току ноћи 14/15. септембра српске и француске дивизије поселе су полазне положаје и заузеле предвиђени борбени поредак за напад. Српска 2. армија  на фронту Сушица - Сокол требала је да освоји планинске положаје Ветерник - Добро поље - Сокол да  и могла даље да напредује ка Козјаку и Вардару. Док ће 1. армија по освајању датих положаја кренути на Соко и тако покрити први део операција. 
            Након добро одрађене артиљеријске ватре у раним јутарњим часовима стигло је наређење за јуриш у 5,30 часова. Шумадијска дивизија је имала за задатак да се креће до реке Сушице и да освоје масив Ветерника, баш где се налазило тежиште бугарске одбране. Стога је била подељена две целине како би лако угушила непријатељски положај: лева колона би напала Западни Ветерник, док би Десна Колона заузела Источни Ветерник. Услед изненаданог напада и борби прса у прса положај је био врло брзо и освојен, како би на крају угушили цео положај.
            Након добро изведеног напада требало је да се крене ка Кравици и Кравичком камену да би се касније омогућило продирање ка Козјаку и Топлици. Али се доста истицало освајање и Обле и Борове чуке како би се лакше дошло до успеха и без губитака. 
            Због жилавог немачког и бугарског отпора као и неочекиване артиљеријске ватре, али и висинске разлике дошло је до успоравања деловања француских и српских јединица на планини Гољак. Чак и после шесточасовне борбе и даље се борило на истим положајима што је исцрпљивало обе стране, али се и заробило доста непријатеља као и ратног материјала.
            </p>
    </article>
    <article class="obavijac">
        <h2>Неуспео покушај освајања Сокола</h2>
        <p>За освајање Сокола биле су предвиђене француска 122. и Дринска дивизија, док је тај положај бранио 10. бугарски пук. Француска војска би напала са југоисточне стране док би српска напала са југозападне и тако се нашли на пирамиди тј. на врху.
            У први налет војска се и пробијала али непријатељ их је сачекао са минобацачима и бомбама и тако их спутао и нанео им је велику штету и однео живота како војника тако и војсковођама. У рану зору следио је наредни налет који је био успешнији због повољнијег положаја, напад на препад им је донео предност је то била борба прса у прса а непријатељ није могао да користи артиљеријско оружје.
            Због већинске надмоћи српско-француске војске бугарима је послата испомоћ и тако допуњена са немачким и бугарским резервним саставом. Са српске стране осећао се страх од неуспеха зато што се одређени напади превише одужили. Начелник штаба 1. армије тражио је испомоћ 122. дивизије да допуни састав Дринске дивизије, али безуспешно јер је стање било стагнирајуће. Према томе, само је Шумадијска дивизија у предвиђеном року, тј. до 11,30 часова, пробила бугарски фронт на одсеку Западни Ветерник - Слоново уво и избила на гребен Источног Ветеника.
            </p>
    </article>

    <article class="obavijac">
        <h2>Освајање Доброг Поља, Борове чуке и Обле чуке</h2>
        
        <div><img src="./img/sl3.jpg" class="float_right" width="200px" alt="Grb kluba"></div>
        <p>По освајању војвода Степа Степановић је наредио да француске дивизије доврше свој задатак, освоји Соко и гребен Доброг поља, а 17. дивизија ће Кравички камен, Облу и Борову чуку. Тако је 122. дивизија, после великих напора и жртава и уз помоћ артиљерије, заузела Добро поље, најважнији објекат на првом бугарском положају. Док се други део није добро показао не освојивши Соко.
            Због притиска на 17. дивизију од стране непријатеља војвода Степановић тражи помоћ од Врховне команде, где је на крају добио читав један пук Шумадијске дивизије и два батаљона Тимочке дивизије. Услед ојачаног напада прикључен је и остатак Тимочке дивизије и тако редом освајана Борова чука, и уз помоћ брдске дивизије накнадно и Камен и Обла чука. 
        </p>
    </article>

    <article class="obavijac">
        <h2>Освајање Кравице и Кравичког камена</h2>
        <p>Због успеха на десном крилу Шумадијске дивизије и левом 122. дивизије, 17. колонијална дивизија имала је чист пролаз за напад и освајање. Степа Степановић тражио је да се допуни са Шумадојском како би савладао отпор. 
            Самозаповедајући допунио ју је са Југословенском дивизијом и упутио у правцу освајања Кравица - Кравички камен - Козјак. Војвода је без координације са осталим трупама доносио доста ризичне покрете али уједно и доста успешне уз оправдања како је имало неуспеха на нападним местима. Испред 15 сати непријатељ је држао све положаје, а у 17 часова кренули са енергичним нападом са две стране те је до 19 сати врх Кравице био освојен као и Кравички камен већ се кренуло у правцу Козјака.
            Тако су дакле, још пре него што се над бојним пољем спустила ноћ, у руке француских и српских трупа пала и последња бугарска утврђења на том планинском земљишту. Тиме су у потпуности пробијени први бугарски положај и међуположај у ширини од око 11 километара и направљен празан простор кроз који су српске дивизије другог ешалона кренуле у напад на други бугарски положај, у правцу Козјака и Топлица
            .</p>
    </article>

    <article class="obavijac">
        <h2>Неуспео напад 1. армије 15. септембра</h2>
        <p>Увидевши споро напредовање и освајању Сокола командант 1. армије генерал Петар Бојовић константно је инсистирао на испомоћ од стране других дивизија са старне да би се наставило са експлотацојим пробоја. Генерал Бојовић саветовао се са војводом Мишићем поводом дате ситуације и предложио му је да се крене у општи напад и тако се на крају и одлучило када су се припремиле Дринска и Дунавска дивизија.
            Читава 1. армија кренула је у напад у саставу од првог ешалона састава - Дринске и Дунавске дивизије и другог ешалона састава - Моравска и Коњичка дивизија. Јачину коју је износила била је: 27 батаљона, 270 митраљеза, 990 пушкомитраљеза, 299 артиљеријских оруђа и 16 ескадрона. Док се са друге стране налазиле две бугарске бригаде од састава: 12 батаљона, 121 митраљез, 165 атриљеријских оруђа и 3 ескадрона коњице.
            У првом налету(15h) само на једном месту српска армија направила је пробој у бугарском рову али се и она морала убрзо повући. По новом наређењу команданта армије је да се повуку у вечерњим часовима због његовог незадовољста на поподневном нападу, и да ће нови налет артиљерије кренути у 4 а пешадије у 5 часова. 
            </p>
    </article>

    <article class="obavijac">
        <h2>Пад Сокола и продор Југословенске дивизије у правцу Козјака</h2>
        <p>Након заузетог положаја на Добром пољу 122. дивизија била је упућена на Соко по наређењу Врховне команде и војводе Степе како би се што пре заузео положај. Војвода је одбијао наређење о повлачењу и смиривању дејстава и тако упутио и Југословенску дивизију даље на Козјак. Док се непријатељ повлачио са изгубљеног положаја већ је планирао против напад очекиван на Козјаку.
            У касним сатима српска војска нападала је Соко са две стране али због дејствовања атриљерије морала је да се повуче на источно крило и теме Сокола. На крају су се бугарски војници повукли али по наређењу, и тако се после мукотрпних напада освојио и овај положај. 
            Војвода Степановић похвалио је читаву 2. армију у њиховим ратним подухватима на предходним нападима против бројније и боље опремљеније посаде. 
            Посебно је истакао Шумадиску дивизију која је <em> "допринела да 2. армија тога дана изврши свој први задатак и приступи извршењу другог задатка, мада је то обоје стајало под знаком питања због застоја суседних трупа пред тим положајима". </em>
            Губици су били доста већи са непријатељске стране док се из Друге армије није било већих губитака сем за 17. колонијалну дивизију(1.200 људи избачених из строја).
            Велики успех допринела је авијација која је доносила значајне информације везано за положаје батерија и правце кретања бугарских трупа, потпомогла је ватреним дејствима, претрпели су мање отштете. И артиљерија је доста допринела на простору Козјака, Кравице и реке Пороја.
            Бугарска Врховна команда се није пуно изненадила са добропољским пробојом јер је тако нешто и очекивала, али је увек постојало и скептика за обрт ситуације. Допуна њихових група није била могућа због лошег командовања и далеко удаљених резервних дивизија.
            Савезничке армије лево и десно од српског распореда дејствовале су артиљеријском ватром против непријатеља испред свог фронта да би га држале под претњом напада и одузеле слободу маневра.
            </p>
    </article>
</main>


</body>
</html>