<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ПРОБОЈ СОЛУНСКОГ ФРОНТА</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="./img/serbia-icon.png" type="image/x-icon">
</head>

<body>
<header>
    <h1>ПРОБОЈ СОЛУНСКОГ ФРОНТА</h1>
    <nav>
        <a href="./index.html"><p>Увод</p></a>
        <a href="./str2.html"><p>Почетак ратних операција</p></a>
        <a href="./str3.html"><p>Пробој</p></a>
        <a href="./str4.html"><p>Закључак</p></a>
    </nav>
</header>
<main>
    <article id="Uvod" class="obavijac">
     <h2>Пробој непријатељских положаја на правцу 1. армије</h2>
     <p>Док се непријатељска војска повлачила са Сокола ка Козјаку, пуковник Смиљанић, командант Дринске дивизије, самоиницијативно је наредио напад на њих. Гонећи непријатеља у раним јутарњим часовима 16. септембра, пратио их је до Чвора и тако на крају заузео главни положај непријатеља на правцу свог наступања. Крећући се том линијом кретања заузео је и бугарски положај и тако притерао бугаре на неуредно повлачење и слаб отпор, али на заравнима су могли да користе атриљерију која је успела да успори надирање српске војске.
        Према томе, 1. армија је у току раних јутарњих часова 16. септембра заузела цео непријатељски први положај, сем на крајњем левом крилу Дунавске дивизије, и до 10 часова оваладала делом бугарских међуположаја на Градешничкој коси. И док је друга армија освајала Козјак тражило се од прве да што пре освоји положаје и међуположаје како би се наставило даље. Од авио-извиђача стигла је информација о освајању Козјака од стране Југословенске дивизије, по наређењу војводе Мишића добијена је сугестија да се крене даље ка Кучковом камену.
        Накнадно су освојени и Лабница, Градешница уз мање отпоре. Француска 122. дивизија је по плану остала на положају Добро поље у саставу резерве, док се Моравска дивизија дигла да допуни положаје између 1. и 2. армије на смеру Чвора. Пошто је касно стигла, по освајању тог положаја, тек је у касним сатима успоставила линију комуникације са Југословенском дивизијом.
        Непријатељ је изгубио и задњу јачу и организовану линију на фронту па се са наше старне очекивао и напад стога је послата и Коњичка дивизија да буде спремна за гоњење. На тај начин, она је постигла крупан оперативно-стратегијски успех, јер је извршила пробој непријатељске одбране на целој њеној дубини, поразила све снаге непријатеља испред свог фронта, угрозила му рокадне комуникације и одступницу према Резимбеју. 
        </p>

    </article>

    <article class="obavijac">
        <h2>Југословенска дивизија осваја Козјак</h2>
        <p>У току другог дана офанзиве главна пажња обеју страна биле је окренута према Козјаку.  При повлачењу са положаја Добро поље – Ветерник по наређењу генерала Шолца оформљена је комбинована дивизија Ројтера, са бугарским и немачким трупама у оштећеном саставу.
            Друга армија је у зору 16. септембра наставила надирање ка Козјаку да би стигла пре непријатељских резерви. У саставу су била два ешалона: у првом - Југословенска и Тимочка дивизија а у другом - Шумадијска и 17. колонијална дивизија. Главни задатак био је за Југословенску да заузму баш тај положај, где је још у току ноћи поделила на десно и лево крило и на додатни резервни дивизион. За овакав напад требао је хитар и енергичан напад да би се увело раствојство у непријатељским редовима, али то из прве није било могуће због барикада а артиљерија је каснила са променом положаја.
            Прво је нападнут Велики Козјак и заузет козјачки плато борбом прса у прса, и услед снажног отпора бугара није из прве ни освојен. Нападом у 5 часова непријатељ је био изненађен од стране Југословенске војске на Козјачком камену. Услед тешког терена и митраљеске ватре тешко су се кретали напред, те је све до поподневних сати трајала неизменична ватра и српска војска је лежала у бугарским рововима. 
            Уз пристизање непријатељске помоћи било је очигледно да само са пешадијом неће доћи до веће експлотације, али негде око 14 часова отпочела је и ватра брдских француских батерија. Од 19 до 20 часова разбијена је линија одбране и након тога упућена пешадија у гоњење остатка војске, те је с' тога и овладан цео Козјак. Бугарске и немачке трупе су морале да се повлаче изгубивши најважнији земљишни објекат, све наде су полагали у Ројтера који је мукотрпно ишчекивао нова појачања.
            На нашој страни очекивања су била доста реалнија где је генерал д'Епере сматрао да је успех загарантован по освајању Козјака и Лабнице. По савету војводе Степе да се потпомажу већ оформљени армијски ешалони и инсистирао да Тимочка и Југословенска дивизија најенергичније настави продирање и да непријатељ нема времена да се спреми за одбрану.
            </p>
    </article>

    <article class="obavijac">
        <h2>Продор Тимочке дивизије на Тополачку греду</h2>
        <p>Тимочка дивизија имала је задатак да се креће ка Тополачкој греди и заузме тај положај, помогла даљем продору и потпомогне савезницима. Док се повлачила из правца Кравица - Ветерник прелазила је преко врлетног терена обраслог шумом, што је успорило њихову артиљерију која је на крају заноћила 16. септембра. У зору 17. септембра кренули су у две колоне да опколе и освоје, као и бугари да одбране Камилу, међутим 13. пук "Хајдук Вељко" у току ноћи је заузео врх и енергично напао и освојио врх Камиле.
            За то време су се непријатељи повукли на Тополац, где их је сачекао 3. батаљон који је непријатеља који није пружао велики отпор отерао и српска војска заредом освојила. Садејствоване десно и лево крило већ око 16 часова је нападала ка Студеној води у више налета и због смрачивања и премора обе стране су се повукле и заноћиле.
            Темпо напредовања био је слаб и саветовало се на опрез, али било је очигледно да је била потребна атриљеријска подршка. Стизале су и критике од војсковођа због не успостављања линија веза и ваздушних извештаја о кретању трупа на Тополцу, кашњења у вези кретања и освајања положаја. Услед великог напора и освајања резервног положаја непријатеља Тимочка дивизија испунила је свој циљ и омогућила даљи продор ка планини Ниџи. 
            </p>
    </article>

    <aticle class="obavijac">
        <h2>Бој на Кучковом камену</h2>
        <p>Тог дана су сачекали да се пробије пут у правцу кретања, и одредило се два батаљона за освајање Кучковог камена који није могао да пружи одговарајући отпор. Уз нетрепељиву и непрестану ватру у току ноћи српска војска је успела да заузме положај Железна врата који ће олакшати даљи продор ка Кучковом камену.

            Заповеђено им је било да крену да освоје положај "без обзира на губитке", и тако уз неодољиве налете и уз кратку артиљеријску подршку. Због не стизања информација о кретању самоиницијативно је наређен напад у 7 часова да би се тек око 12,15 часова стигло у висину Кучковог камена.
            Стигле су и информације да "у току данашњег дана базусловно освоји Кучков камен", и да је већ у поподневним сатима отпочела и јака артиљеријска ватра која није наносила штете Моравским трупама. У 16,30 извршен је налет пешадије и око 17 часова после ватре и борби прса у прса и битки бајонетима положај је прешао у српске руке. И не дуго затим је и северни део такође био освојен што приморао непријатељске трупе на повлачење и опште растројство и манију међу бугарским и немачким трупама. 
            Најбитнији чиниоци су били правилним избором праваца, изненадним и енергичним јуришем и врло рационалним дејством брдских батерија. 
            </p>
    </aticle>

    <article class="obavijac">
        <h2>Завршетак пробоја фронта на правцу напада српске војске 1. армије 17. септембра</h2>
        <p>Борбена способност непријатељских пукова, који су били изгубили много митраљеза, готово све минобацаче, велики број артиљеријских оруђа и бројно проређени, била је знатно ослабљена. Али ово није дозволило српској војсци да дозволи ново регруписање и ојачавање, као и да потисне трупе при повлачењу.
            Већ око 9 часова Моравска дивизија је освајањем Кучковог камена и Козарачког рида, сломила новоорганизовану одбрамбену линију непријатеља на свом делу фронта и убрзала даље растројство ових трупа. Тог истог дана су Дунавска у Дринска дивизија постигли успехе против Ројтерове дивизије, та иста дивизија је касније допуњена са армијском резервом.
            Панделемон и Бешишки вис су били последњи копнени положају непријатеља са којим су могли да изврше неку врсту рокаде као и да успоставе комуникацију са остатком дивизија. Сам положај је био доста издигнут од осталих као и погодан за остваривање ватрене паљбе, а притом је тај положај са надолазеће стране био тешко проходан.
            Услед слабости(мала дубина, међусобна неповезаност, могућност обухвата) српска 1. армија је настојила да крене у оштар напад на Панделемон не наилазећи на непријатеља. Са суседних положаја успели су да их привремено укоче, али недуго затим је извршена артиљеријска ватра и пешадијски напад лако освојио ровове непријатеља.
        </p>
        <div><img src="./img/sl4.jpg" class="float_left" width="400px" alt="Grb kluba"></div>
        <p>Српска пешадија је надирала на гребен Панделемона коју је засипала мешовита ватра и у овом моменту се чекала иста подршка са српске стране. Један од планова је и био да се део трупа усмери на прелазу између Бешишког виса и Панделемона и тако окружи потпомогне освајање истог.
            Око 16,30 часова Дунавска дивизија је отпочела напад након услеђене јаке артиљеријске ватре, и након двочасовне борбе прса у прса и гоњења непријатеља извиђачки авиони су у 18,40 јавили потпуно повлачење на споредне положаје.
            Наредни циљ био је тај да се трупе које се већ сада повлаче наставе да се гоне ка Црној реци и да се у току ноћи дође у њену долину. Тада је кренуо само 7. пук који је у току гоњења напао непријатељ са пешадијом и по наређењу командант пука је само повукао трупе. 
            Након освајања линије Бежиште - Панделемон део снага Дунавске дивизије је усмерен ка освајању Резимбеја уместо на север. У 17 часова бугарска 2. дивизија се повлачила са положаја Црне реке и тако панично правила метеж и растројство међу њиховим јединицама, то је допринело погодном нападу за нас које је уследило нападом коњичке дивизије која је потпомогла експоатацији.
            И тако измучена бугарска војска се повукла са преосталих положаја "мртва уморна" оставивши многу опрему и артиљерију за собом.  
            Тако је 17. септембра потпуно разбијен непријатељски фронт на правцу пробоја српских армија. Развој операција у току трећег дана офанзиве имао је далекосежне последице за обе стране. Непријатељ је за собом оставио доста ратног материјала и доста се повукао са читаве линије фронта, чак и услед допуне трупа то није било довољно да се заустави надирање са српске стране.
            Реалан закључак је довела немачка дивизија која је сматрала да је правилан успех потребна комплетних немачких или аутријских дивизија ако се настави овако јако и успешно надирање српске војске.
            Бројно стање по стројевима је било 300-600 људи, и тако исцрпљене и измучене требале су да одоле надолазећој војсци па су стога повучене оставиле довољно простора за надирање и мало окрепа са њихове стране.
            Успех српских армија био је од највећег значаја за развој офанзиве дуж целе линије фронта у правцу исток-запад. И док је део војске напредовао тада у резерви су били: Дринска и Коњичка у резерви 1. армије, Шумадијска и 17. колонијална у резерви 2. армије, док се на Добром пољу налазила и 122. дивизија. 
            За 3 дана је било заробљено око 4000 немачких и бугарских војника и старешина, као и уништено доста технике. Српске трупе, претрпевши сразмерно минималне губитке и крупним победама, пробиле су се у слободан оперативни простор морално и материјално спремне да у пуној мери искористе дотадашње успехе да нанесу одлучујући пораз непријатељу.
            </p>

    </article>

</main>


</body>
</html>