<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ПРОБОЈ СОЛУНСКОГ ФРОНТА</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="img/serbia-icon.png" type="image/x-icon">
</head>

<body>
<header>
    <h1>ПРОБОЈ СОЛУНСКОГ ФРОНТА</h1>
    <nav>
        <a href="./index.html"><p>Увод</p></a>
        <a href="./str2.html"><p>Почетак ратних операција</p></a>
        <a href="./str3.html"><p>Пробој</p></a>
        <a href="./str4.html"><p>Закључак</p></a>
    </nav>
</header>
<main>
    <article id="Uvod" class="obavijac">
     <h2>Политичка слика, наставак дешавања и последице </h2>
        <p>Разумљиво је да су резултати операција српске војске и њени стратегијски потенцијали одлучујуће утицали на спољнополитичку стратегију и тактику српске владе током целог рата.
            Услед почетних победа на Колубари и Церу Србија је имала јако еластичну дипломатску акцију са савезницима. А при повлачењу се тражио сами минимум за остваривање а то су били да се поврати и обнови самостална и независна српска држава, да се такође поврати морал војника као и вера у савезнике.
            На самом почетку је било скоро па бројчана изједначеност али то није било исто јер је српска војска била у моралној надмоћи над непријатељем. Српској војсци доста је допринела савезничка војска, а важно је и истаћи помоћ француске артиљерије, наустрашивих авијатичара, пешадије и разних специјалиста у фази пробоја. 
            Услед успешних операција на Солунском фронту 1916./17. јако су одјекнула у свету и подигле међународни углед. То се нарочито снажно манифестовало у јесен 1918. када је изузетним залагањем српске војске, уз помоћ савезничких армија у Македонији, пробијен Солунски фронт и отворен пут ка коначној победи.
            Немачке војсковође су истицале још при гоњењу српске војске 1915. да се права сила крије ту и чак су и признавали после пада да је ту била велика грешка у планирању кретања чак и да се дало довољно времена да се оспособи читава линија фронта.
            У току офанзиве савезници су изгубили 16.200 људи избачених из стоја, од њих 4000 погинуло и нестало. Док је српској војсци избачено 4.019 људи из стоја, 681 погиуло 132 настала и 2206 рањено.
            Генерал д'Епере је изузетно похвалио српску команду и њихове армије које су се бориле и извршавале његова наређења, битно је истаћи и да је његово командовање и оклевање у одређеним настојања на фронту доста утицало на ток рата. Гоњење које су, уз помоћ савезника, извршиле српске армије после пробоја Солунског фронта, спада у ред најлепших и најуспешнијих примера стратегијског гоњења у историји ратова у дужини трајања, енергији извођења и постигнутим резултатима.
            За саму победу учествовало је више фактора: услед стратегијских изненађења на непријатеље, сам напад је био усмерен ка Бугарској која је од свих три из коалиције била најмање спремна за одбрану, због недостатка слободних резерви и велике удаљености, сами напади вршени су на малој ширини.
            Савезници су за свега 5 дана су успели да расцепе цео непријатељски фронт, заузимајући комуникацијске и центре за снадбевање и за 154 дана присилила бугарску војску да положи оружје. Сам високи морал војника показује то да су од Доброг поља до Суботице, прешавши преко 800 километара, прешли за свега 60 дана. Након капитулације Бугарске Аустро-Угарска и немачка су се повукле са истока и запада да би се концентрисале на напад ка Балкану, док се по наређењу врховне команде кренуло и наставило у офанзиву са којом се кроз два месеца стигло до Будимпеште.
            Победа савезника на балканском ратишту убрзала је завршетак Првог светског рата и снажно утицала на промене на политичкој карти Европе, превазиђена су сва очекивања и скраћено предвиђено трајање рата.  Потајну помоћ Србији помогли су и црногорски устаници који су спречили даље надирање 100.000 људи аустроугарске групе "Албанија " на територији Црне горе.
            Бугарске војсковође су призанвале да је било велике разлике у биткама међу њих и срба и каже:"Српска војска се годинама борила изван своје земље и тиме дала сјајан пример велике љубави према отаџбини".
            По завршењу ратних дестава се такође и 1. децембра прогласила Краљевина Срба, Хрвата и Словенаца по наређењу регента Александра који је имала задатак да штити југословенски етнички простор. Сва та политичка дејствовања побољшала су и показала своју моћ и способност Европи у међународни односима, као и да коригују неке своје предходне ставове.
            За све своје успехе у периоду од 1914. па све до 1918. године Србија је изгубила отприлике 1.200.000 војних и цивилних лица илити 28% предратног становништва, и претрпела ратну штету од 6 милијарди златних франака. Пре рата је имала преко 700.000 војника да би се на крају вратило свега 150.000 људи, на Крфу умрло око 7750 бораца, у току пробоја фронта око 9300 војника и официра и 6020 их је рањено на гробљу Зејтинлик код Солуна.    
            Борба Србије 1914.-1918. године показује како једна мала земља својом преданошћу може против надмоћнијег непријатеља покаже несебично жртвовање за слободу.
            </p>
            <p class="centriraj"><em>“Иза свих њих су остале победе, слава и гробље”</em></p>
    </article>

</main>


</body>
</html>